[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "powerly"]
	path = powerly
	url = https://github.com/mihaiconstantin/powerly
	shallow = true
	registered = true
[submodule "parabar"]
	path = parabar
	url = https://github.com/mihaiconstantin/parabar
	shallow = true
	registered = true
