[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "parabar"]
	path = parabar
	url = https://github.com/mihaiconstantin/parabar
[submodule "powerly"]
	path = powerly
	url = https://github.com/mihaiconstantin/powerly
